/* header */
body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .logo img {
    height: 50px;
    width: auto;
  }
  
  .links {
    display: flex;
    gap: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
  }
  
  .links a {
    text-decoration: none;
    color: #000000;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }

  .icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .icons img {
    height: 30px;
    width: auto;
    margin-right: 10px;
  }

/* num 1 */

.num1 {
    margin: 100px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Установите желаемый цвет фона блока */
  }

  .num1 img {
    width: 75%;
    height: 100%;
  }

  /* num 2 */

  .num2 {
    text-align: left;
  }

  .num2 h2 {
    margin-bottom: 60px;
    margin-left: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
  }

  .num2__all__product {
    display: flex;
    align-items: center;
  }

  .num2 .product {
    display: inline-block;
    margin: 0 150px;
    text-decoration: none;
    color: #000;
    text-align: center;
    
  }

  .num2 .product img {
    width: 160px;
    
    margin-bottom: 10px;
  }

  .num2 .product p {
    margin: 0;
  }

  .num2 .product-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 13px;
    padding-bottom: 5px;
  }

  .num2 .product-price {
    color: #0277E4;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 13px;
  }

  .num2 .product-rating {
    color: gold;
    font-size: 25px
  }

  .product-info {
  text-align: start;
  }

  /* num 3 */

  .num3 {
    text-align: left;
    margin-top: 150px;
  }

  .num3 h2 {
    margin-bottom: 60px;
    margin-left: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
  }

  .num3__all__product {
    display: flex;
    align-items: center;
  }

  .num3 .product {
    display: inline-block;
    margin: 0 150px;
    text-decoration: none;
    color: #000;
    text-align: center;
    
  }

  .num3 .product img {
    width: 160px;
    
    margin-bottom: 10px;
  }

  .num3 .product p {
    margin: 0;
  }

  .num3 .product-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 13px;
    padding-bottom: 5px;
  }

  .num3 .product-price {
    color: #0277E4;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 13px;
  }

  .num3 .product-rating {
    color: gold;
    font-size: 25px
  }

  .product-info {
  text-align: start;
  }

    /* num 4 */

    .num4 {
        text-align: left;
        margin-top: 150px;
      }
    
      .num4 h2 {
        margin-bottom: 60px;
        margin-left: 150px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
      }
      
      .blue-box-container {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
      
      .blue-box {
        display: flex;
        align-items: center;
        background-color: #0277E4;
        border-radius: 20px;
        padding: 30px;
        width: 80%;
        justify-content: center;
      }
      
      .blue-box img {
        width: 146px;
        /* height: 100px; */
        margin-right: 20px;
      }
      
      .blue-box .content {
        text-align: left;
        color: #FFFFFF;
        margin-left: 20px;
      }
      
      .blue-box h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
      }
      
      .blue-box p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 19.831px;
        line-height: 24px;
      }
      
      /* num 5 */

      .num5 {
        text-align: left;
        margin-top: 150px;
      }
    
      .num5 h2 {
        margin-bottom: 60px;
        margin-left: 150px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 61px;
      }
      
      .reviews-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .review {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 30px;
        max-width: 800px;
        margin: 0 auto;
        margin: 50px auto;
      }
      
      .review .photo {
        flex-shrink: 0;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
      }
      
      .review .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .review .text {
        flex-grow: 1;
        background-color: #2274E4;
        color: #FFFFFF;
        border-radius: 10px;
        padding: 20px;
      }
      
      .review .text h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
      }
      
      .review .text p {
        margin-top: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
      }
      
      /* footer */
      
      footer {
        background-color: black;
        color: white;
        text-align: center;
        padding: 20px;
      }
      
      .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .logo img {
        width: 150px; /* Измените размеры логотипа по вашему усмотрению */
      }
      
      .menu,
      .partners,
      .contacts {
        margin: 0 20px;
      }
      
      .menu h3,
      .partners h3,
      .contacts h3 {
        font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
      }
      
      .menu ul,
      .partners ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
      }
      
      .menu ul li,
      .partners ul li {
        margin: 5px 0;
      }
      
      .menu ul li a,
      .partners ul li a {
        color: white;
        text-decoration: none;
      }
      
      .contacts p {
        margin: 5px 0;
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
      }
      